body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: blue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App {
  color: white;
}

.Timer {
  color: white;
}

.Play {
  text-align: center;
}

.Score {
  color: white;
}

.HiScores {
  color: white;
}

.Top {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.PlayArea {
  margin: 10px;
  width: 300px;
  height: 200px;
  background:aqua;


}

button {
  font-family: Oswald;
  font-size: 25px;
  width: 100px;
height: 50px;
border-radius: 15px;
border: 2px solid black;
background-color: black;
color: white;

}
